{%- extends "component/layout.html" %}
{%- block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<style type="text/css">
  body {
    background-color: white;
  }

  #course-option {
    color: black;
  }
</style>
<div class="columns is-centered">
  <div class="container field mt-5  column is-half">
    <form action="/user/{{user.username}}/reset" method="post" enctype="multipart/form-data">
      <div class="control">
        <label class="label" for="username">ユーザー名</label>
        <input id="username" class="input" type="text" placeholder="Username input" name="username" value="{{user.username}}" disabled>
      </div>
      <div class="control">
        <label class="label mt-5" for="password">パスワード</label>
        <input id="password" class="input" type="password" placeholder="Password input" name="new-password" required>
      </div>
  </div>
</div>

<div class="small has-text-danger">{{message}}</div>
<div class="control mt-5 has-text-centered">
  <button class="button is-link is-light">リセット</button>
</div>

</form>
</div>

</div>
{%- endblock %}