<div id="modal-view" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box has-text-centered">
      <p class="large mb-5">本当に削除しますか?</p>
      {% if course_id %}
      <form action="/course/{{course_id}}" method="POST" enctype="multipart/form-data">
        {% elif text_id %}
        <form action="/text/{{text_id}}" method="POST" enctype="multipart/form-data">
          {% endif %}
          <input type="hidden" name="_method" value="DELETE">
          <button class="is-danger button is-light">削除</button>
        </form>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close" id="close-modal-button"></button>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='modal.js') }}"></script>