{%- extends "component/layout.html" %}
{%- block content %}
<div class="container columns is-centered">
  <div class="field mt-5  column is-half">
    <form action="/user/create" method="post" enctype="multipart/form-data">
      <label class="label">ユーザー名</label>
      <div class="control">
        {% if type=="edit" %}
        <input class="input" type="text" placeholder="Username input" name="username" value="{{current_user.username}}">
        {% else %}
        <input class="input" type="text" placeholder="Username input" name="username">
        {% endif %}
      </div>
      <label class="label mt-5">メールアドレス</label>
      <div class="control">
        {% if type=="edit" %}
        <input class="input" type="text" placeholder="Address input" name="email_address" value="{{current_user.mail_address}}">
        {% else %}
        <input class="input" type="text" placeholder="Address input" name="email_address">
        {% endif %}
      </div>
      {% if type=="create" %}
      <label class="label mt-5">パスワード</label>
      <div class="control">
        {% if type=="edit" %}
        <p>非公開</p>
        {% else %}
        <input class="input" type="password" placeholder="Password input" name="password">
        {% endif %}
      </div>
      {% endif %}
      <div class="">
        <label class="label mt-5">学習コース</label>
        {% if type=="edit" %}
        <p class="control">
          <select multiple>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </p>
        {% else %}
        {% endif %}
      </div>
  </div>
</div>


<div class="small has-text-danger">{{message}}</div>
<div class="control mt-5 has-text-centered">
  <button class="button is-link">作成</button>
</div>
</form>
</div>

</div>
{%- endblock %}