<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>{{ title }}</title>
</head>

<body class="">
  <div class="site-content">
    <nav class="navbar mb-5" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="mx-2" src="https://seigo2016.com/static/images/seigo2016-icon-small.webp" height="30">
          <p class="mx-2">seigo2016-lms</p>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      {% if user %}
      {% if user.username %}

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/courses">
            コース一覧
          </a>
        </div>


        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ user.user_name }}
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/profile">
                Profile
              </a>
              <a class="navbar-item" href="/logout">
                Logout
              </a>
            </div>
          </div>
        </div>
        {%endif%}
        {%endif%}
    </nav>
    <main class="site-content-body mt-5">
      {%- block content %}{% endblock %}
    </main>

    <footer class="footer py-3">
      <div class="content has-text-centered">
        <p class="">Copyright 2022 seigo2016.</p>
      </div>
    </footer>
  </div>

</body>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</html>