{%- extends "layout.html" %}
{%- block content %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/tomorrow-night-blue.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<div class="columns mx-2">

  <div class="container is-centered column is-two-thirds">
    <h1 class="title">{{ text.name }}</h1>
    <div id="content"></div>
    {% if user.is_superuser %}
    <div class="container columns is-centered m-5">
      <p class="control">
        <a href="/text/{{text.id}}/edit" class="button">
          編集
        </a>
      </p>
    </div>
    {% endif %}
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
      marked.setOptions({
        langPrefix: '',
        highlight: function (code, lang) {
          return hljs.highlightAuto(code, [lang]).value
        }
      });

      let renderer = new marked.Renderer();
      renderer.heading = (text, level) => {
        return `
     <h${level} class="subtitle is-${level + 1}">
     ${text}
     </h${level}>
     `
      }

      marked.setOptions({ renderer: renderer })
      marked.setOptions({ breaks: true });

      content = `{{ text.contents }}`;
      document.getElementById('content').innerHTML = marked.parse(content);
    </script>
  </div>
</div>
{%- endblock %}