{%- extends "layout.html" %}
{%- block content %}
<div class="columns">
 <div class="container is-centered column is-two-thirds">
  <table class="table is-fullwidth is-hoverable">
   <thead>
    <tr>
     <td class="row-link">
     </td>
     <th>コース名</th>
     <th>概要</th>
    </tr>
   </thead>
   <tbody>
    {% for c in courses %}
    <tr>
     <td class="row-link">
      <a href="/course/{{ c.id }}"></a>
     </td>
     <td>{{ c.name }}
     </td>
     <td>{{ c.description }}
     </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
 </div>
</div>
{%- endblock %}