{%- extends "component/layout.html" %}
{%- block content %}
<div class="columns">
 <div class="container is-centered column is-two-thirds">
  <table class="table is-fullwidth is-hoverable">
   <thead>
    <tr>
     <td class="row-link">
     </td>
     <th>ユーザー名</th>
     <th>メールアドレス</th>
    </tr>
   </thead>
   <tbody>
    {% for u in users %}
    <tr>
     <td class="row-link">
      <a href="/user/{{ u.username }}"></a>
     </td>
     <td>{{ u.username }}
     </td>
     <td>{{ u.mail_address }}
     </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
  {% if current_user.is_superuser %}
  <div class="container columns is-centered">
   <p class="control">
    <a href="/users/create" class="button is-link">
     新規作成
    </a>
   </p>
  </div>
  {% endif %}
 </div>
 {%- endblock %}