{%- extends "component/layout.html" %}
{%- block content %}
<div class="columns mx-auto">
 <div class="container is-centered column is-two-thirds">
  {% if current_user.is_superuser %}
  <div class="columns">
   <div class="mx-5 is-half  column">
    <p class="title">{{course.name}}</p>
   </div>
   <div class="container column is-centered is-one-quarter">
    <a href="/course/{{course.id}}/edit" class="button is-link is-light">
     編集
    </a>
    <button id="open-modal-button" class="js-modal-trigger button is-danger is-light">
     削除
    </button>
   </div>
  </div>
  {% endif %}
  <table class="table is-fullwidth is-hoverable">
   <thead>
    <tr>
     <td class="row-link">
     </td>
     <th>テキストNo.</th>
     <th>コース名</th>
     <th>概要</th>
    </tr>
   </thead>
   <tbody>
    {% for t in texts %}
    <tr>
     <td class="row-link">
      <a href="/text/{{ t.id }}"></a>
     </td>
     <td>{{ t.order_id }}
     </td>
     <td>{{ t.name }}
     </td>
     <td>{{ t.description }}
     </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
  {% if current_user.is_superuser %}
  <div class="container columns is-centered">
   <p class="control">
    <a href="/course/{{course.id}}/create" class="button is-link is-light">
     テキスト新規作成
    </a>
   </p>
  </div>
  {% endif %}
 </div>

 {% with course_id = course.id %}
 {% include "component/delete_modal.html" %}
 {% endwith %}
 {%- endblock %}